
// Ancho máximo de la página
max-width = 1700px !default

// Breakpoints
sm = 500px,
md = 960px,
lg = 1264px,
xl = 1904px

/*------------------------------------*\
    $COLORES
\*------------------------------------*/

main-color = rgb(62, 6, 148)

// Layout
background = #fafafa
header  = white
footer = #333

text = #333

// Colores del arcoiris
violeta = #8e44ad
celeste = #209cee
verde = #23d160
amarillo = #ffdd57
naranja = #f39c12
rojo = #ff3860

//Botones
btn-login =verde
btn-color = white
btn-background = #8e44ad


// Redes sociales
fb = #4464B2
tw = #28A9E0
youtube = #FF3333


/*------------------------------------*\
$LAYOUT
\*------------------------------------*/

height-header = 50px
height-footer = 30px
height-nav-mobil = 50px

/*------------------------------------*\
    $DIR
\*------------------------------------*/
img = "../img"
font = "../fonts"

/*------------------------------------*\
    $FONT-FACE
\*------------------------------------*/
main-font = 'Noto Sans', 'Open Sans', sans-serif
altfont = Georgia, Times, "Times New Roman"
codefont = "Courier New", monospace
altlineheight = 1.35em
basefontsize = 1em

btn-radius = 3px
hovertransition = .3s
animationtime = .8s
